DATABASE_URL="postgresql://usuario:senha@host/neondb?sslmode=require"
SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""
MERCADO_PAGO_ACCESS_TOKEN=""
CUPOM_100_DESCONTO=""
APP_URL="https://seu-dominio.com.br"
MAILJET_API_KEY=""
MAILJET_SECRET_KEY=""
EMAIL_FROM="presente@seu-dominio.com.br"
EMAIL_FROM_NAME="Letter Love"
