DATABASE_URL="file:./dev.db"
SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""
MERCADO_PAGO_ACCESS_TOKEN=""
APP_URL="https://seu-dominio.com.br"
RESEND_API_KEY=""
EMAIL_FROM="Letter Love <presente@seu-dominio.com.br>"
